// Font Family
$opensans: 'Open Sans', sans-serif;
$ptserif: 'PT Serif', serif;


// Colors ---------------
$white: #ffffff;
$black: #222;
$grey:#fbf2ee;
$grey2:#fcf6f4;
$grey3:#faf4f2;
$theme-color: #e5aa8f;
$theme-color-soft: #faf0ec;
$theme-color-soft2: #f7e5dd;
$theme-color2: #241e5e;
$body-text-color: #716ca2;
$body-text-color2: #6a6a6a;
$hr-border-color:#dcdcdc;
$hr-border-color2:#ececec;


// Heading Color
$heding: #6a6a6a;



// Responsive Variables
$xxl: 'only screen and (min-width: 1601px) and (max-width: 1920px)';
$xl: 'only screen and (min-width: 1601px) and (max-width: 1800px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

  